


.rating_container{
  position: relative;
  display: inline-flex;
  align-items: flex-end;
  margin-bottom: .5rem;
}
.rating_container svg{
  color: gold;
}
.rating_container svg.neutral{
  color: var(--midgrey);
}
.rating_container p{
  margin: 0 1rem;
}

