.filtersidebar{
  margin-top: 4.5rem;
  background-color: var(--lightgrey);
  padding: 1rem;
  width: 19rem;
  border-radius: .3rem;
  z-index: 10;
  outline: 0.4rem solid white;
}
.filtersidebar_inputprice_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5rem;
}
.filtersidebar_closebutton{
    display: none;
    position: absolute;
    right: 1rem;
    top: 1.2rem;
}
@media screen and (max-width: 800px) {
  .filtersidebar{
    position: fixed;
    margin: 0;
    border-radius: 0;
    right: 0;
    top: 3rem;
    box-shadow: -1rem 1rem 3rem 3rem rgba(0, 0, 0, 0.336);  
    outline: none;
    height: 100vh;
  }
  .filtersidebar li{
    margin: 1.5rem 0;
  }
  .filtersidebar_closebutton {
    display: block;
  }
}
