.inputText_container {
  position: relative;
}
.inputText_container.lg {
  width: 100%;
}

.inputText_container label{
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.inputText_container input{
  border: none;
  padding: .5rem 1rem;
  line-height: .7rem;
  border-radius: 1.5rem;
  color: var(--darktblue);
  outline-color: var(--darktblue);
  outline: 0.4rem solid white;
}
.inputText_container input::placeholder{
  color: var(--lightblue);
}
.inputText_container  .sm{
  width: 5rem;
}
.inputText_container .lg{
  width: 100%;
}
.inputText_container .dark{
  background-color: var(--lightgrey);
}
.inputText_container .icon{
  padding-left: 2.3rem;
}
.inputText_icon{
  color: var(--lightblue);
  position: absolute;
  left: 1rem;
  top:.5rem;
  pointer-events: none;
}
