.background_container{
  opacity: .8;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  pointer-events: none;
}


.background_animation{
  position: absolute;
  fill: var(--lightblue);
  height: 100vh;
}
.animationA{
  left: -60rem;
  top: -10rem;
}
.animationB{
  left: -60rem;
  top: 10rem;
}
.animationC{
  right: -10rem;
  top: 0;
}

.background_animation.animationA{
  animation: wave 30s -1s ease alternate infinite;
}

.background_animation.animationB{
  animation: wave 25s -1s ease-in-out alternate-reverse infinite;
}

.background_animation.animationC{
  animation: wave 25s -1s ease-in-out alternate-reverse infinite;
}

@keyframes wave {
    0% {transform: translateY(13rem) translateX(5rem) scale(2) rotate(1deg);}
    46% {transform: translatey(10rem) translateX(5rem) scale(2.5) rotate(14deg);}
    100% {transform: translatey(25rem) translateX(5rem) scale(2) rotate(-13deg);}
}
